<ion-header>

    <ion-navbar color="primary">
        <ion-title>Realizar búsqueda</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-searchbar (ionInput)="buscar_huesped($event)"></ion-searchbar>


    <ion-list>
        <ng-container *ngIf="arrayHuesped.length > 0; else NoBusqueda">
            <ion-item [color]="this.arrayColores[item.h_tpo_hab]" *ngFor="let item of this.arrayHuesped" [navParams]="{huesped: item}" [navPush]="huespedPage">
                <!-- Cambiar el item.tile por el que se tenia anterior -->
                {{item.h_nom}} Hab: {{item.h_tpo_hab}}
            </ion-item>
        </ng-container>

        <ng-template #NoBusqueda>
            <ion-item>
                Sin Búsqueda
            </ion-item>
        </ng-template>
    </ion-list>
</ion-content>
